{% extends "BookBundle::layout.html.twig" %}

{% block sub_body %}

{{ parent() }}

<h3>Liste des romans</h3>

<div class="panel panel-default">

	<div class="panel-heading">
		<h4>Liste des romans</h4>
	</div>
	
	<div class="panel-body">
		<table class="table table-striped nowrap-table">
			<thead>
				<tr>
					<th>ISBN</th>
					<th>Titre</th>
					<th>Description</th>
				</tr>
			</thead>
			
			<tbody>
				<tr>
					<div class="row">						
						<div class="col-md-4"><td>{{ info["isbn"] }}</td></div>
						<div class="col-md-4"><td>{{ info["titre"] }}</td></div>
						<div class="col-md-4"><td>{{ info["description"] }}</td></div>
					</div>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<br/><br/>
<a href="{{ path('book_add') }}" class="btn btn-primary">Retour</a>

{% endblock %}



